@charset "utf-8";
#content{
	margin: 0 auto;
	width: 1200px;
	min-width: 1200px;
	max-width: 1200px;
}
.side-product ul{
	width: 213px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	background-color:white;
	position: absolute;
	top: 178px;
	left: 75px;
}
.side-product ul li{
	width: 100%;
	border-bottom: 1px solid #ddd;
	font-size: 14px;
}
.side-product ul li a{
	text-decoration: none;
	display: block;
	line-height: 49px;
	padding-left: 30px;
	border-left: 2px solid #fff;
	background-image: url(../images/nav-jt.png);
	background-repeat: no-repeat;
	background-position: right 9px;
	transition: all 0.3s ease;
}
.side-product ul li a:hover{
	background-position: right -49px;
	border-left: 2px solid #e70014;
	color: #e70014;
}
.right_nav{
	float: left;
}
.aim{
	font-size: 16px;
	padding-top: 20px;
	padding-bottom: 20px;
}
#main h1{
    color: #e70014;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 30px;
}
.fenlei{
	margin-left: 350px;
	font-size: 14px;
}
.fcwx_tablist a{
	text-decoration: none;
   display: block;
    float: left;
    width: 103px;
    height: 32px;
    line-height: 32px;
    background: #e5e5e5;
    border: 1px solid #ccc;
    text-align: center;
    margin-right: 10px;
    margin-top: 10px;
    position: relative;
}
.fcwx_tablist .cur{
	background: #e70014;
	color: #fff;
}
.fcwx_tablist a:hover{
	background-color: #e70014;
}
.input{
	width: 300px;
	height: 30px;
}
.yanzheng{
	width: 150px;
	height: 30px;
}
.form a{
	color: red;
}
.button{
	width: 250px;
	height: 45px;
	margin-left: 170px;
	color:#fff;
	background: #e70014;
	font-size: 20px;
	outline: none;
	border: none;
	margin-bottom: 20px;
}
.zhu{
	margin-left: 170px;
	margin-bottom: 40px;
	color: red;
}